{##
 # Header
 #
 # @ListChild (list="welcome.top.banners.container.type3", weight="200")
 #}


<div class="info-block">
    {% if this.config.JThemesStudio.The80sMod.type3_top_banner2_image != '' %}
        <img src="{{ this.config.JThemesStudio.The80sMod.type3_top_banner2_image }}" alt="" />
    {% endif %}
    <div class="info-content">
        <div>
            <div>
                {% if this.config.JThemesStudio.The80sMod.type3_top_banner2_title != '' %}
                    <h2> {{ this.config.JThemesStudio.The80sMod.type3_top_banner2_title }} </h2>
                {% endif %}
                {% if this.config.JThemesStudio.The80sMod.type3_top_banner2_text != '' %}
                    <p>{{ this.config.JThemesStudio.The80sMod.type3_top_banner2_text }}</p>
                {% endif %}

                {% if this.config.JThemesStudio.The80sMod.type3_top_banner2_button_link != '' %}

                    <div>
                        <a href="{{ this.config.JThemesStudio.The80sMod.type3_top_banner2_button_link }}" class="btn btn-white">
                            {{ this.config.JThemesStudio.The80sMod.type3_top_banner2_button_text }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>