{##
 # Welcome page tabs
 #
 # @author    Qualiteam software Ltd <info@x-cart.com>
 # @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 # @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 # @link      http://www.x-cart.com/
 #}

{% if this.getTabs()%}
    <div class="container">
        <div class="category-tabs product-details-tabs">

            <div class="tabs">
                <ul class="tabs primary">
                    {% for index, tab in this.getTabs() %}
                        <li class="{{ this.getTabClass(tab) }}">
                            <a data-id="{{ tab.id|raw }}">{{ t(tab.name) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="tabs-container ">
                {% for tab in this.getTabs() %}
                    <div id="{{ tab.id|raw }}" class="tab-container hacky-container" style="{{ this.getTabStyle(tab) }}">
                        <a name="{{ tab.id|raw }}"></a>
                        {% if tab.template %}
                            {% include tab.template %}

                        {% else %}
                            {% if tab.widget %}
                                {{ widget(tab.widget) }}
                            {% else %}
                                {% if tab.list %}
                                    {{ widget_list(tab.list) }}
                                {% else %}
                                    {% if tab.widgetObject %}
                                        {{ tab.widgetObject.display()|raw }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
